{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name}} {{ author.last_name}}</h1>

  <p><strong>First_name:</strong> {{ author.first_name }}</p>
  <p><strong>Last_name:</strong> {{ author.last_name }}</p>
  <p><strong>About:</strong> {{ author.about }}</p>
  <p><strong>Date_of_birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Date_of_death:</strong> {{ author.date_of_death }}</p>
  <h4>Books:</h4>
  {% for books in author.book_set.all%}
    <ul>
      <li><strong><a href="{{ books.get_absolute_url }}"> {{books.title}}:</a></strong></li>
      <p>{{books.summary}}</p>
    </ul>
  {% endfor %}
{% endblock %}